.img1{
  width:100%;

}
.video-title{
      
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
 width:250px;

}
.video-author,.video-views{
  color:rgb(96, 96, 96);
  font-size: 13px;

}
.video-details{
  margin-bottom: 7px;
}

.video-views{
  margin-top: 4px;
}
.profile-picture{
  width:35px;
  border-radius: 50%;
 
}
.thumbnail{
  margin-bottom: 12px;
  position:relative;
}
.relative{
  position:absolute;
  bottom:10px;
  right:5px;
  background-color: black;
  color:white;
  font-family: 'Roboto', arial;
  font-size: 12px;
  padding:3px 3px;
}
.video-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    /* column-gap: 12px; */
}
.total-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 12px;
  row-gap: 40px;
}
@media (max-width: 600px){
  .total-grid {
    grid-template-columns: 1fr ;
  }
}

@media (min-width: 750px) {
  .total-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .total-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .total-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
}






.video-link{
  text-decoration: none;
  color: black;
}
.author{
  text-decoration: none;
}
.profile-picture-tooltip{
  height:60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;

}

.pic-tooltip{
  border:1px solid rgb(231, 227, 227);
  position: absolute;
  top: 39px;
  height:90px;
  width:250px;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  z-index: 300;
}
.video-image{
 display: inline-block;
 position: relative;
 width: 40px;
 height: 40px;
}
.video-image:hover .pic-tooltip{
  opacity: 1;
}

.p1{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin-left: 10px;
}
.name-1{
  margin-bottom: 5px;
  font-family: 'Roboto', arial;
  font-weight: bold;
  font-size: 19px;
}
.subs-1{
  font-family: 'Roboto', arial;
  font-size: 15px;
  color:rgb(96, 96, 96);
}